.nav-bar {
  align-items: center;
  background-color: #6741d9;

  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 7.2rem;
  padding: 0 3.2rem;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: 800;
}

.search-bar input {
  /* display: inline-block; */
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
}

.movie-list {
  background-color: rgb(213, 245, 234);
  border: 1px solid blue;
}

.movie-item {
  margin-bottom: 10px;
}
