.nav-bar {
  align-items: center;
  background-color: #6741d9;

  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 7.2rem;
  padding: 0 3.2rem;
}

.logo {
  font-size: 2rem;
  color: white;
  font-weight: 800;
}

.search-bar input {
  /* display: inline-block; */
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

.main {
  display: flex;
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
}

.box {
  border: 1px solid black;

  margin-right: 10px;
}
.movie-list {
  padding: 10px;
  background-color: rgb(255, 249, 192);
  border: 1px solid blue;
}

.movie-item {
  margin-bottom: 10px;
}

.summary {
  padding: 2.2rem 3.2rem 1.8rem 3.2rem;
  border-radius: 0.9rem;
  background-color: var(--color-background-100);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.2);
}

.summary h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 0.6rem;
}

.summary div {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
}

.summary p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
